

header{
     background-color: #242424;
     font-family: 'Roboto Slab', serif;
     font-size:small;
     justify-content: flex-start;
    
}

header nav{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
}

header nav .menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 6px 20px; 

}

header nav .menu .brand img{
    width: 30px;   

}

header nav .menu .enlacess {
    display: flex;
    

} 

header nav .menu .enlacess a{
    padding: 16px 12px;
    color: #fff;
    text-decoration: none;
    border-bottom: 6px solid transparent;
    transition: border .3s ease; 
    
} 

header nav .menu .enlacess a:hover{
    border-bottom-color: #e84855;
    
}


header nav .menu .enlacess a.active{
    border-bottom-color: #e84855;   
    align-items: flex-end;
}


header nav .menu .fe{
    color: #e84855;
}

h1{
    size: 35cm;
    color: #e84855;
}





*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

img{
    width: 100%;
    
}

.row{
    display: flex;
    padding: 5px;
    flex-wrap: wrap;
}

.column{
    flex: 25%;
    padding: 5px;
}

.column img{
    margin-top: 2px;
}

.column img{
    margin-top: 5px;
}

@media (max-width: 600px){
    .column{
        flex: 100%;
    }
}    
@media (max-width: 800px){
    .column{
        flex: 50%;
    }
}  


/* titulo */


a{
    padding: 16px 12px;
    color:#ca414d
    
}